<div class="col-sm-1 col-md-3"></div>
<div class="project_text col-sm-10 col-md-6">
	<div class="project_header">
		<br>
		<br>
		<h3> <%= @project.name %> </h3>
		<p><%= @project.short_description %></p>
	</div>

	<% @categories.each do |c| %>

		<br>
		<br>
		<h4><strong><%= c.name %></strong></h4>
		<br>
		<%= c.project_text %>
		<br>
		<br>
		<br>

		<% @images.each do |i| %>
		<% if i.category_id == c.id %>
			<%= image_tag i.photo.url(:large) %>
			<p class="image_caption text-center"><%= i.caption %></p>
		<% end %>

	<% end %> 

	<% end %> 
</div>
<div class="col-sm-1 col-md-3"></div>
