<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Logan's Portfolio</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  	<%= csrf_meta_tags %>

  	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  	<nav class="nav navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/">
       				LOGAN SMITH
      			</a>
    		</div>
      		<ul class="nav navbar-nav navbar-header pull-left">
	      		<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if @project != nil %>
                  <%=@project.name%> <span class="caret"></span>
                <% else %>
                  <%= @p %> <span class="caret"></span>
                <% end %>
              </a>
		          <ul class="dropdown-menu">
                <li><a href="/">All Work</a></li>
                <li role="separator" class="divider"></li>
		            <% @project_list.each do |p| %>
		            	<li><a href="/projects/<%=p.id%>"><%= p.name %></a></li>
		            <% end %>
                <li role="separator" class="divider"></li>
                <li><a href="/pages/about">About Me</a></li>
		          </ul>
			   	</li>
      		</ul>
      		<ul class="nav navbar-nav navbar-header pull-right">
            <li class="navbar-right"><a href="/">CONTACT</a></li> 
      		</ul>
  		</div>
	</nav>

	<%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container footer-container">
    Made by <span class="orange">Logan</span> in <span class="orange">Kampala</span>
    </div>
  </footer>
  </body>
</html>
